:root {
  --border-color: black;
  --accent-color: #6366F1;
  --danger-color: #EF4444;
  --bg-color:     #F9FAFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%button {
  height: 40px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}