.search_list {
  padding: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  gap: 25px;
  width: 100%;
}

.card {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--border-color);
}

.hero_img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 25px;
}

.hero_desc {
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
  color: var(--border-color);
}

li {
 list-style: none;
  cursor: pointer;
}

.card_dark {
  border: 1px solid var(--border-color);
  background-color: lightgray;
  color: var(--border-color);

  @media (hover: hover) {
    &:hover {
      box-shadow: rgba(233, 233, 241, 0.2) 0px 7px 29px 0px;
    }
  }
}

.checkbox_wrapper {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.checkbox {
  width: 20px;
  height: 20px;
}