/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/ui/styles/pages/About.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.About_container__se4HV {
  max-width: 720px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About_title__nEXpl {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}

.About_small__W5Wsj {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}

.About_navbar__VrdH6 {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.About_link__HZ2KZ {
  color: #007acc;
  text-decoration: none;
  font-size: 1rem;
}
.About_link__HZ2KZ:hover {
  text-decoration: underline;
}

.About_activeLink__Co5Nj {
  font-weight: 600;
  color: #005f99;
}

.About_text__hz21_ {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 1rem;
  text-align: center;
}
