/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/features/search/ui/Search.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Search_search_button__3PTeP {
  height: 40px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.Search_search_block__xcxyX {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Search_label__0lMK_ {
  position: relative;
  display: inline-block;
}

.Search_search_input__g5LDR {
  min-width: 300px;
  padding: 4px 20px;
  border: 1px solid var(--bg-color);
  border-radius: 8px;
  height: 40px;
  outline-color: var(--accent-color);
  background-color: var(--border-color);
  color: var(--bg-color);
}

.Search_search_input_dark__L8b1a {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--border-color);
}

.Search_clear_btn__LU_cv {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  line-height: 30px;
  z-index: 1000;
  color: var(--accent-color);
  cursor: pointer;
  display: none;
}

.Search_clear_btn__LU_cv.Search_clear_btn_visible__qdID2 {
  display: block;
}

.Search_search_button__3PTeP {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media (hover: hover) {
  .Search_search_button__3PTeP:hover {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--bg-color);
  }
}
.Search_search_button__3PTeP:active {
  transform: translateY(2px);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/ui/styles/pages/About.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.About_container__se4HV {
  max-width: 720px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About_title__nEXpl {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}

.About_small__W5Wsj {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}

.About_navbar__VrdH6 {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.About_link__HZ2KZ {
  color: #007acc;
  text-decoration: none;
  font-size: 1rem;
}
.About_link__HZ2KZ:hover {
  text-decoration: underline;
}

.About_activeLink__Co5Nj {
  font-weight: 600;
  color: #005f99;
}

.About_text__hz21_ {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 1rem;
  text-align: center;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/src/shared/components/Loader/Loader.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.Loader_loader__qzlBR {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.Loader_loader_img__KBxIj {
  width: 100px;
  height: 100px;
  animation: Loader_spin__WwjtT 2s linear infinite;
}

@keyframes Loader_spin__WwjtT {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/shared/components/ToggleButton/ToggleButton.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ToggleButton_button__4YLNd {
  margin-left: auto;
  background-color: var(--accent-color);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 40px;
  transition: all ease 0.3s;
}
.ToggleButton_button__4YLNd:focus, .ToggleButton_button__4YLNd:active {
  outline: none;
}

.ToggleButton_pin__s_siK {
  background-color: var(--bg-color);
  border-radius: 50%;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
  transition: all ease 0.3s;
}

.ToggleButton_pin_dark__OOCpz {
  background-color: var(--accent-color);
}

.ToggleButton_button__4YLNd.ToggleButton_on__sJkxM {
  background-color: var(--border-color);
}

.ToggleButton_button__4YLNd.ToggleButton_on__sJkxM .ToggleButton_pin__s_siK {
  left: 20px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/shared/components/Button/ui/Button.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__7GvgS {
  height: 40px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.Button_button__7GvgS {
  background-color: transparent;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .Button_button__7GvgS:hover {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--bg-color);
  }
}
.Button_button__7GvgS:active {
  transform: translateY(2px);
}

.Button_button_dark___Cbbc {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/widget/Favourite/ui/Favourite.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Favourite_favourite_block__5hrVR {
  padding: 10px;
  border: 1px solid var(--bg-color);
  background-color: var(--border-color);
  border-radius: 10px;
  box-shadow: var(--bg-color) 0px 7px 29px 0px;
  color: var(--bg-color);
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10%;
  gap: 20px;
  z-index: 100;
}
@media (max-width: 768px) {
  .Favourite_favourite_block__5hrVR {
    left: 0px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    justify-content: center;
    gap: 5px;
  }
}

.Favourite_favourite_block_dark__qdUvZ {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--border-color) 0px 7px 29px 0px;
  color: var(--border-color);
}

.Favourite_btns_wrapper__tfida {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Favourite_info__b_43_ {
  min-width: 240px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/widget/Hero/Hero.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Hero_wrapper__dhSx_ {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 400px;
  min-width: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: var(--border-color);
}

.Hero_wrapper_dark__vyZ16 {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--border-color);
}

.Hero_close_btn__Y0RDO {
  margin-left: auto;
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-size: 2rem;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .Hero_close_btn__Y0RDO:hover {
    opacity: 0.7;
  }
}

.Hero_hero_img__LBdkE {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.Hero_hero_desc__p8JGs {
  margin-bottom: 15px;
}

.Hero_hero_info__a9OyJ {
  text-align: left;
  margin-bottom: 10px;
}

.Hero_title__Ga4k_ {
  margin-top: 60px;
  color: var(--border-color);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/widget/List/ui/List.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.List_search_list__7s95f {
  flex: 1 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-gap: 20px;
  gap: 20px;
}

.List_card__v5Zwo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--bg-color);
  background-color: var(--border-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .List_card__v5Zwo:hover {
    box-shadow: rgba(21, 21, 22, 0.2) 0px 7px 29px 0px;
  }
}

.List_card_dark__rlTTg {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--border-color);
}
@media (hover: hover) {
  .List_card_dark__rlTTg:hover {
    box-shadow: rgba(233, 233, 241, 0.2) 0px 7px 29px 0px;
  }
}

.List_hero_img__j_jr1 {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.List_hero_desc__w5Bo2 {
  margin-bottom: 10px;
}

.List_title__bLxp8 {
  margin-top: 60px;
  color: var(--border-color);
}

.List_checkbox_wrapper__PBLvx {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.List_checkbox__4z2Eh {
  width: 20px;
  height: 20px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/src/widget/Pagination/ui/Pagination.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_block__jRyOT {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
}
@media (max-width: 600px) {
  .Pagination_block__jRyOT {
    column-gap: 5px;
  }
}

.Pagination_dots_item__NVBUL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  color: var(--bg-color);
  border: 1px solid transparent;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .Pagination_dots_item__NVBUL {
    width: 30px;
    height: 30px;
  }
}

.Pagination_dots_item_dark__qZn3v {
  color: var(--border-color);
}

.Pagination_item__ZqRLz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--active-color);
  border-radius: 50%;
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .Pagination_item__ZqRLz:hover {
    background: var(--accent-color);
    color: var(--bg-color);
  }
}
.Pagination_item__ZqRLz:active {
  transform: translateY(2px);
}

.Pagination_item_dark__CKL0_ {
  border: 1px solid var(--accent-color);
  color: var(--border-color);
}

.Pagination_item__ZqRLz.Pagination_active__td_ZP {
  background: var(--accent-color);
  color: var(--bg-color);
}

.Pagination_arrow_left__jMrAi,
.Pagination_arrow_right__o9hb3 {
  width: 40px;
  height: 40px;
  background: var(--bg-color);
  border: none;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.Pagination_arrow_left__jMrAi:hover,
.Pagination_arrow_right__o9hb3:hover {
  opacity: 0.8;
}
.Pagination_arrow_left__jMrAi:disabled,
.Pagination_arrow_right__o9hb3:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.Pagination_arrow_left_dark__fZsM_,
.Pagination_arrow_right_dark__U_wJD {
  background: transparent;
  border: none;
}

.Pagination_arrow_img__pDhtf {
  width: 20px;
  height: 20px;
}

.Pagination_arrow_next_img__UKCQJ {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/ui/styles/pages/SearchPage.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SearchPage_wrapper___xmou {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 20px;
}
@media (max-width: 768px) {
  .SearchPage_wrapper___xmou {
    flex-wrap: wrap;
  }
}

.SearchPage_controls_block__PljPa {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.SearchPage_title__v31Ij {
  margin-top: 60px;
  color: var(--border-color);
}
